body {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    background-color: #0182A6;
}

.container {
    display: flex; /* Flexbox pour le contenu principal et le menu */
}

.main-content {
    flex: 1; /* Prend l'espace restant */
    padding: 20px; /* Ajoute un peu de padding */
}

.menu {
    width: 250px; /* Largeur fixe pour le menu */
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 15px;
    margin-left: 20px; /* Espace entre le contenu principal et le menu */
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    border-color: black;
    text-align: center;
    font-size: 600%;
}

input[type=text] {
    width: 100%;
    transition: width 0.4s ease-in-out;
    border-radius: 50px;
    margin: 1%;
    padding: 1%;
}

select {
    width: 100%;
    padding: 1%;
    margin: 1%;
    border: none;
    border-radius: 30px;
    background-color: #f1f1f1;
}

#meteoDisplay{
    flex-direction: column;
    align-items: center;
    padding: 10%;
    border-radius: 15px;
    color: white;
    font-size: 120%;
    background-color: #8ED4FF;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    
}

#meteoDisplay > img{
    padding: 10%;
    border-radius: 15px;
    color: white;
    font-size: 120%;
    background-color: #dff3ff;
    margin: 5%;
    width: 100%;
}



.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
}

.modal .modal-content {
    background-color: white;
    padding: 1%;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    max-width: 90vw; /* Limiter la largeur à 90% de la vue */
    padding: 2rem;
}

.modal.active {
    display: flex; /* Show the modal when active */
}
.recherche{
    display: flex;
    margin: 2%;
}
.affichage{
    display: flex ;
    flex-direction: column;
    align-items: center;
}
#commune{
   width: 90%;
}

